node_modules/
.env
npm-debug.log*
.DS_Store
.vscode/
frontend/node_modules/
frontend/.next/
frontend/.env.local
backend/node_modules/
backend/.env
public/downloads/*.apk
public/videos/*.mov
public/videos/*.mp4
public/downloads/*.zip
public/downloads/*.apk
node_modules/
.claude/worktrees/
flutter-sdk/
android/
